.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  
    width: 100%;
    height: 100%;

    padding: 93px 15px;
  
    background-color: rgba(0, 0, 0, 0.2);
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    overflow-y: scroll;
  }

  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }