.features__list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;

  }
  
  .features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;  
    
    @include tablet {
      text-align: left;  
    }
    margin-bottom: 10px;
  }
  
  .features__icon-thumb {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
  
    background-color: $background-filter-buttons;
    
    
    height: 120px;

    @media screen and (min-width: $tablet) {
   
      height: 140px;     
    }

    @media screen and (min-width: $desktop) {
   
      height: 120px;     
    }

  }
  
  .features__item {   
    width: 100%;
    @media screen and (min-width: $tablet) { 
    width: calc((100% - 30px) / 2);
    }   
    @media screen and (min-width: $desktop) { 
     width: calc((100% - 90px) / 4);
      }  
  }

  
  .features__text {
    font-size: 14px;
    line-height: 1.71;
  }