.features__list {
    // display: flex;
  }
  
  .features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    // margin-top: 30px;
    // margin-bottom: 10px;
  }
  
  .features__icon-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: $background-filter-buttons;
    width: 270px;
    height: 120px;
  }
  
  .features__item {
    // margin-left: 30px;
  }
  
  .features__item {
    &:first-child {
        // margin-left: 0;
      }
  }
  
  .features__text {
    font-size: 14px;
    line-height: 1.71;
  }