.footer__section {
    background-color: $secondary-background-color;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer {
    // display: flex;
    // align-items: baseline;
  }
  
  .footer__logo {
    display: block;
    margin-bottom: 20px;
  }
  
  .address__map {
    color: $white-color;
  
    text-decoration: none;
    font-style: normal;
  
    font-size: 14px;
    line-height: 1.71;
  }
  
  .address__list {
    width: 231px;
  }
  
  .address__item {
    margin-top: 9px;
  }
  
  .footer__contact {
    color: $secondary-text-color;
  
    text-decoration: none;
    font-style: normal;
  
    font-size: 14px;
    line-height: 1.71;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-contact {
    &:hover,
    &:focus {
    color: $accent-color;
    fill: $accent-color;
    }
  }
  
  .join {
    // margin: 0 0 0 70px;
  }
  
  .join__title,
  .subscribe__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-color;
  
    display: block;
    margin-bottom: 20px;
  }
  
  .footer__social-networks__link {
    background-color: rgba(255, 255, 255, 0.1);
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer__social-networks__icon {
    fill: $white-color;
  }
  
  .social-networks__link {
    &:hover,
    &:focus {
    background-color: $accent-color;
    }
  }
  
  .social-networks__icon {
    .social-networks__link:hover &,
    .social-networks__link:focus & {
        fill: $white-color;
    }   
  }
  
  .subscribe {
    // margin-left: auto;
  }
  
  .subscribe__container {
    // display: flex;
    position: relative;
  }
  
  .subscribe__input {
    display: block;
    margin-right: 12px;
    padding-left: 16px;
  
    max-width: 450px;
    height: 50px;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
  
    background-color: transparent;
  
    font-size: 16px;
    line-height: 1.25;
    color: gray;
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  .subscribe-button {
    width: 200px;
    height: 50px;
  }
  
  .subscribe-button {
    padding: 10px 62px 10px 28px;
  }
  
  .subscribe__icon {
    position: absolute;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }