.hero {
  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  height: 400px;
  padding:  118px 0px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero_mobile.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero_mobile@2x.jpg);    
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    height: 400px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero_tablet.jpg);
    background-size: 768px 400px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {      
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/hero_tablet@2x.jpg);      
    }
  }
  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    width: 100%;
    height: 600px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero_desktop.jpg);
    background-size: 1600px 600px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {      
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/hero_desktop@2x.jpg);      
    }
  }

  background-color: $hero-background-color;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include desktop {
    padding-top: 200px;
  }
}

.hero__title {
  color: $white-color;
  font-size: 20px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include mobile {
    width: 360px;
    font-size: 26px;
  }
  

  @media screen and (min-width: $desktop) {
    font-size: 44px;
  line-height: 1.36;

  width: 696px;
  }

}

.hero__button {
  width: 200px;
  height: 50px;

  @media screen and (min-width: $desktop) {
    width: 216px;
  }
}
