.modal {
 
 
  @media screen and (max-width: $mobile) {
    max-width: 450px;
    width: 96%;
  }
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
  
  
    
    height: 609px;
    
    @media screen and (min-width: $tablet) {
      width: 450px;
    }

    @media screen and (min-width: $desktop) {
      width: 528px;
    }
    


    padding: 40px;
  
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;

    @media screen and (min-width: $desktop) {
      line-height: 1.15;
    }
  
    color: $black-color;
  
    margin-bottom: 12px;
  }
  
  .modal__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    width: 30px;
    height: 30px;
    padding: 0;
  
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  
  .modal__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__close-icon {
    .modal__close-button:hover &,
    .modal__close-button:focus & {
    fill: $accent-color;
    }
  }
  
  .modal__form {
    width: 100%;

    @include mobile {
      width: 370px;
    }

    @media screen and (min-width: $desktop) {
      width: 448px
    }

    margin-bottom: 20px;
  }
  
  .modal__field {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
  }
   
  .modal__field {
    &:first-child {
        margin-top: 0;
    }    
  }
    
  .modal__input-icon {
    .modal__input:focus + & {  
        fill: $accent-color;
      }
  }
  
  .modal__label {
    text-align: start;
  
    margin-bottom: 4px;
  
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }
  
  .modal__input {
    width: 100%;
    height: 40px;
  
    padding-left: 42px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    outline: transparent;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: $accent-color;    
    }
  }
  
  .modal__container {
    position: relative;
  }
  
  .modal__input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__comment {
    padding: 12px 16px;
    height: 120px;
  
    resize: none;
  
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    }
  }
  
  .modal__license {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 11px;
    padding-left: 24px;

    @media screen and (min-width: $desktop) {
      padding-left: 36px;
    }
  }
  
  .modal__license-checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .modal__license-icon {
    position: absolute;
    left: 0;
  
    cursor: pointer;
  }
  
  .modal__license-icon2 {
    position: absolute;
    left: 0;
  
    cursor: pointer;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

    @media screen and (min-width: $desktop) {
      .modal__license-icon {        
        left: 12px;       
      }
      
      .modal__license-icon2 {       
        left: 12px;         
    }
  }

  
  .modal__license-icon2 {
    .modal__license-checkbox:checked + .modal__license-label & {
      opacity: 1;
    }       
  }
  
  .modal__license-icon {
    .modal__license-checkbox:focus + .modal__license-label & {
      fill: $accent-color;
    } 
  }

  .modal__license-label {
    display: flex;
    align-items: center;
  
    font-size: 12px;
    line-height: 1.16;

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.71;
    }
  }
  
  .modal__license-condition {
    color: $accent-color;
  }

  .modal__submit-button {
    width: 200px;
    height: 50px;
  }
  