h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: $white-color;
  color: $primary-text-color;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

body.modal-open {
  overflow: hidden;
}

.section {
   padding-top: 60px;
   padding-bottom: 60px;
}

.section__no-padding {
  padding-top: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;

  border: none;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $white-color;
}

.title {
  color: $title-color;
}

.container {  
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.offer__title,
.team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.icon {
  fill: $icon-color;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section--background-color {
  background-color: $background-filter-buttons;
}

